body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #6b6b6b;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}

p {
  font-size: 15px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}

#menu.navbar-default {
  background-color: #fff;
  border-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

#menu.navbar-default .navbar-nav>li>a {
  font-family: "Lato", sans-serif;
  color: #555;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
}

#menu.navbar-default .navbar-nav>li>a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: black;
  content: "";
  transition: width 0.2s;
}

#menu.navbar-default .navbar-nav>li>a:hover:after {
  width: 100%;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}

.navbar-toggle {
  border:none;
}


.section-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
  margin: 30px 0;
  font-weight: bold;
  background: linear-gradient(to left, #6e25db 0%, #e815e5 100%);
  filter: alpha(opacity=70);
}

.btn:active,
.btn.active,
.booking-button:active .booking-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus .booking-button:active:focus,
.booking-button.active:focus {
  outline: none;
  outline-offset: none;
}

/* Header Section */

header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}

/* About Section */
#about {
  padding-bottom: 200px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  height:100%;
  width:auto;
}

#about p {
  line-height: 24px;
  margin: 30px 0;
}

#contact {
  padding: 100px 0 60px;
  /* background: #000000; */
  color: #000000;
}

#contact h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#contact form {
  padding-top: 20px;
}

#contact .text-danger {
  color: #cc0033;
  text-align: left;
}

#contact .btn-custom:hover {
  box-shadow: 0px 4px 15px rgba(110, 37, 219, 0.5);
  transition: all 0.3s ease;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}

.form-control:focus {
  border-color: #6e25db;
  border-width: 2px;
  box-shadow: none;
}


.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 1rem;
}

.snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.4s, fadeout 0.4s 2s;
  animation: fadein 0.4s, fadeout 0.4s 2s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0;
  margin-top: 125px;
  margin-bottom: 200px;
}

.image-container {
  position: relative;
  height: 80vh;
  margin: auto;
  margin-bottom: 150px;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  min-width: 350px;
  width: 35vw;
  height: 75vh;
  margin: auto;
  padding: 0;
  object-fit: cover;
  display: block;
  overflow: hidden !important;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.5s forwards;
  opacity: 0;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
  opacity: 1;
}

@media (max-width: 768px) {

  .image-container {
    position: relative;
    height: 80vh;
    margin: auto;
    width: 90% !important;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}